/.idea/.idea.FigureLib/.idea/.gitignore
/FigureLib/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/FigureLib.Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/FigureLib.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/FigureLib/obj/Debug/net7.0/FigureLib.AssemblyInfo.cs
/FigureLib/obj/Debug/net7.0/FigureLib.AssemblyInfoInputs.cache
/FigureLib/obj/Debug/net7.0/FigureLib.assets.cache
/FigureLib/obj/Debug/net7.0/FigureLib.csproj.AssemblyReference.cache
/FigureLib/obj/Debug/net7.0/FigureLib.csproj.CoreCompileInputs.cache
/FigureLib/obj/Debug/net7.0/FigureLib.csproj.FileListAbsolute.txt
/FigureLib/obj/FigureLib.csproj.nuget.dgspec.json
/FigureLib/obj/FigureLib.csproj.nuget.g.props
/FigureLib/obj/FigureLib.csproj.nuget.g.targets
/FigureLib/bin/Debug/net7.0/FigureLib.deps.json
/FigureLib/bin/Debug/net7.0/FigureLib.dll
/FigureLib/obj/Debug/net7.0/ref/FigureLib.dll
/FigureLib/obj/Debug/net7.0/refint/FigureLib.dll
/FigureLib/obj/Debug/net7.0/FigureLib.dll
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.dll
/FigureLib/obj/Debug/net7.0/FigureLib.GeneratedMSBuildEditorConfig.editorconfig
/FigureLib/obj/Debug/net7.0/FigureLib.GlobalUsings.g.cs
/FigureLib/bin/Debug/net7.0/FigureLib.pdb
/FigureLib/obj/Debug/net7.0/FigureLib.pdb
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.pdb
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.AssemblyInfo.cs
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.AssemblyInfoInputs.cache
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.assets.cache
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.csproj.AssemblyReference.cache
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.csproj.CopyComplete
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.csproj.CoreCompileInputs.cache
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.csproj.FileListAbsolute.txt
/FigureLib.Tests/obj/FigureLib.Tests.csproj.nuget.dgspec.json
/FigureLib.Tests/obj/FigureLib.Tests.csproj.nuget.g.props
/FigureLib.Tests/obj/FigureLib.Tests.csproj.nuget.g.targets
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.Tests.deps.json
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.Tests.dll
/FigureLib.Tests/obj/Debug/net7.0/ref/FigureLib.Tests.dll
/FigureLib.Tests/obj/Debug/net7.0/refint/FigureLib.Tests.dll
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.dll
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.GeneratedMSBuildEditorConfig.editorconfig
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.genruntimeconfig.cache
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.GlobalUsings.g.cs
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.Tests.pdb
/FigureLib.Tests/obj/Debug/net7.0/FigureLib.Tests.pdb
/FigureLib.Tests/bin/Debug/net7.0/FigureLib.Tests.runtimeconfig.json
/.idea/.idea.FigureLib/.idea/indexLayout.xml
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/FigureLib.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/FigureLib.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/FigureLib.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/FigureLib.Tests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/FigureLib.Tests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/FigureLib.Tests/bin/Debug/net7.0/Newtonsoft.Json.dll
/FigureLib.Tests/bin/Debug/net7.0/NuGet.Frameworks.dll
/FigureLib.Tests/bin/Debug/net7.0/nunit.engine.api.dll
/FigureLib.Tests/bin/Debug/net7.0/nunit.engine.core.dll
/FigureLib.Tests/bin/Debug/net7.0/nunit.engine.dll
/FigureLib.Tests/bin/Debug/net7.0/nunit.framework.dll
/FigureLib.Tests/bin/Debug/net7.0/NUnit3.TestAdapter.dll
/FigureLib.Tests/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
/FigureLib/obj/project.assets.json
/FigureLib.Tests/obj/project.assets.json
/FigureLib/obj/project.nuget.cache
/FigureLib.Tests/obj/project.nuget.cache
/FigureLib/obj/project.packagespec.json
/FigureLib.Tests/obj/project.packagespec.json
/FigureLib/obj/rider.project.restore.info
/FigureLib.Tests/obj/rider.project.restore.info
/FigureLib.Tests/bin/Debug/net7.0/testcentric.engine.metadata.dll
/FigureLib.Tests/bin/Debug/net7.0/testhost.dll

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/